
:root {  
    --color-boy: #75a2bd;
    --color-girl:#54ddaa;
    --color-timer: #86f320;
    --color-blastoff: #ff4500;
    --color-launch-button-red: #ed3330;
    --color-launch-button-green: #85a52d;
    --color-button-hover: #434343;
    --color-button-box-shadow: #rgba(0, 0, 0, 0.57);
    --color-silver-grey: #c0c0c0;
    --white: #fff;
    --lightest-grey: #efefef;
    --light-grey: #eee;
    --medium-grey: #ddd;
    --grey: #ccc;
    --dark-grey: #888;
    --darkest-grey: #555;
    --scene-border: #aaa;

    //rocket

    --color-rocket-fin: #9e061b;
    --color-outer-stream: #ebdc11;
    --color-inner-stream: #df321b;
}